
:root {
    --primary-color: #c72727;
    --secondary-color: #f99500;
    --light-color: #f3f3f3;
    --dark-color: #333;
    --max-width: 1100px;
    
  }
  
  .category {
    --sports-color: #f99500;
    --ent-color: #a66bbe;
    --tech-color: #009cff;
  }
  

.category-sports { background: var(--sports-color) }
.category-ent { background: var(--ent-color) }
.category-tech { background: var(--tech-color) }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    background: var(--light-color);
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  p {
    margin: .5rem 0;
  }
  
  img {
    width: 100%;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Staatliches', cursive;
    margin-bottom: .55rem;
    line-height: 1.3;
  }
/* utility */

.container{
    padding: 0 2rem;
    max-width: var(--max-width);
    margin: auto;
    overflow: hidden;
}

.btn{
  display: inline-block;
  padding: 0.5rem 1.5rem;
  background: var(--primary-color);
  border: none;
  color: var(--light-color);
}

.btn:hover{
  opacity: 0.9;
}

  /* main */
  #main-nav .logo{
    width: 180px;
  }

  #main-nav {
    background: #fff;
  position: sticky;
  top: 0;
  z-index: 2;}

  #main-nav .container{
    display: grid;
    grid-template-columns: 6fr 3fr 2fr;
    align-items: center;
    padding: 1rem;
  
  }

  #main-nav .container ul {
    display: flex;
   justify-self: end;
  }

  #main-nav ul li a{
    padding: 0.75rem;
    font-weight: bold;

  }

  #main-nav .container .social i{
    margin-right: .5rem;
    color: #777;
  }

  #main-nav .container ul li a.current{
    background: var(--primary-color);
    color: var(--light-color);
  }
 #main-nav .container ul li a:hover{
    background: var(--light-color);
    color: var(--dark-color);
 }


  /* showcase */

  #showcase{
    color: #fff;
    background: #333;
    padding: 2rem;
    position: relative;
   
  }

  #showcase:before{
    content: '';
    background: url('./img/featured.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
  }

#showcase .showcase-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.category{
  display: inline-block;
  font-size: 0.55rem;
border-radius: 15px;
text-transform: uppercase;
font-size: .55rem;
padding: 0.4rem 0.6rem ;
margin-bottom: 0.5rem;

}


#showcase .showcase-content{
  z-index: 1;
}

.showcase-content p{
  margin-bottom: 1rem;
}

/* meta */
.gallery{
  background: #fff;
  padding: 1rem;
}